<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Impression 3D</title>
    <link rel="stylesheet" href="TEST.css">
</head>
<body>
    <h1>Bienvenue sur le site d'impression 3D</h1>
    <a href="/fichiers">Voir les fichiers STL</a>
    <script src="app.js"></script>
</body>
</html>
